<p id="notice"><%= notice %></p>
<ul class="nav nav-pills" role="tablist">
<li><%= link_to "All", destinations_path %></li>
  <% @my_countries.each do |c| %>
  <li><%= link_to "#{c.country}", controller: "destinations", country: "#{c.country}" %></li>
  <% end %> 

  <!-- <li><#%= link_to "United States", controller: "destinations", country: "United_States" %></li>
  <li><#%= link_to "Mexico", controller: "destinations", country: "Mexico" %></li>
  <li><#%= link_to "Argentina", controller: "destinations", country: "Argentina" %></li>
  <li><#%= link_to "Chile", controller: "destinations", country: "Chile" %></li> -->
</ul>
<h1>Listing Destinations</h1>
<div class="row">
  <% @destinations.each do |destination| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
        <h2><%= destination.city %></h2>
        <h3><%= destination.country %></h3>
        <p>Population: <%= destination.population %></p>
        <% if destination.avatar_file_name != nil %>
        <%= image_tag destination.avatar.url(:medium), class: "img-responsive" %>
        <% end %>
        <p><%= destination.description %></p>

        <div class="btn-group">
        <td><%= link_to 'Show', destination, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_destination_path(destination), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>

<br>

<%= link_to 'New Destination', new_destination_path, class: "btn btn-primary" %>
