
<style>
body {
	background:<%= @color %>;
}
</style>

<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<p>My favorite color is <%= @color %></p>
<% if @size <= 12 %>
	<p> My shoe size is <%= @size %> </p>
<% else %> 
	<p> I have Huge Feet!</p>
<% end %>
<%= link_to "Blue", about_path(color: "blue"), class: "btn btn-primary" %>
<%= link_to "Red", about_path(color: "Red"), class: "btn btn-danger" %>
