<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :class_subject %><br>
    <%= f.text_field :class_subject, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :level %><br>
    <%= f.number_field :level, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label "Photo" %><br>
    <%= f.file_field :avatar, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.submit class: "form-control"%>
  </div>
<% end %>
