<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
		<p>
  			<strong>Name:</strong>
  			<%= @teacher.name %>
		</p>

		<p>
  			<strong>Class subject:</strong>
  			<%= @teacher.class_subject %>
		</p>

		<p>
  			<strong>Level:</strong>
  			<%= @teacher.level %>
		</p>
		</div>
	</div>
</div>
</div>		

<%= image_tag @teacher.avatar.url(:medium) %>

<div class="btn-group"> 
<%= link_to 'Edit', edit_teacher_path(@teacher), class: "btn btn-default" %> 
<%= link_to 'Back', teachers_path, class: "btn btn-default" %>
</div> 
