<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
		<div class="panel-heading">
		<%= @blog_post.title %>
		</div>
	<div class="panel-body">	
	  <p> By: <%= @blog_post.user.name %> </p>
	  <p><%= @blog_post.blog_entry %></p>
	</div>
	<p>
  		<strong>Time Added:</strong>
  		<%= @blog_post.created_at.strftime('%m/%d/%Y %H:%M:%S') %>
	</p>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
	  Make a Comment
	</div>
	<div class="panel-body">
	  <%= render 'comments/form' %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-header">
		Make a Comment
	</div>
	<% @blog_post.comments.each do |comment| %>
	  <div class="panel-body">
	  <p><strong><%= comment.user.name %></strong> Said: </p>
	  <p><%= comment.comment_entry %></p>
	  <p><strong>Time Added:</strong> <%= comment.created_at.strftime('%m/%d/%Y %H:%M:%S') %>
	</p>
	  </div>
	<% end %> 
	
</div>

<div>
	<%= link_to 'Edit', edit_blog_post_path(@blog_post), class:"btn btn-primary" %> |
	<%= link_to 'Back', blog_posts_path, class:"btn btn-danger" %>
</div>
